@import 'base/settings';
@import 'base/appbar';
@import 'base/popularmovies';
@import 'base/searchedmovies';
@import 'base/popularmoviescard';
@import 'base/moviedetailcomp';
@import 'base/addcollection';
@import 'base/moviecollections';

*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color:azure;
    color: $default-color;
}

.popular-heading{
    text-align: center;
    background-color: azure;
    color: $default-color;
    font-size: 2.125rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.20588em;
}
