@import 'settings';

.toolbar{
    color : $default-color;
    background-color: $default-background-color;
    float: left;
    display: flex;
    justify-content: space-between;
    .input{
        color: $default-color;
        width: 20vw;
    }
    .appbar-left{
        // float: left;
        display : inherit;
        h2{
            margin: auto;
            padding: 3%;
        }
    }
    .appbar-right{
        // float: right;
        display : inherit;
    }

    .homeicon{
        width: 1.2em;
        height: 1.2em;
        font-size: 40px;
    }
    .home{
        padding-top: 1%;
        padding-left: 0.6%;
        text-decoration: none;
        color : $default-color;
    }
}