@import 'settings';

.toolbar{
    color : $default-color;
    background-color: #7A918D;
    float: left;
    .input{
        color: black;
        padding:0 2%;
        margin: 1%;
    }
    .appbar-right{
        width: 100vw;
        display : flex;
        justify-content: flex-end;
    }

    .homeicon{
        width: 1.2em;
        height: 1.2em;
        font-size: 40px;
    }
    .home{
        padding-top: 1%;
        padding-left: 0.6%;
        text-decoration: none;
        color : $default-color;
    }
}