@import 'settings';

.parent-container{
    margin-left: 5%;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    img{
        width : 310px;
        height: 470px;
        margin-left: 20%;
    }
    .text{
        flex-direction: column;
        max-width: 500px;
        margin-left: 10%;
        text-align: justify;
        justify-content: space-between;
        .button-style{
            text-decoration: none;
            color : black;
            width: 250px;
            display: grid;
            // margin-top:10%; 
        }
    }
}