@import 'settings';

.parent-container{
    width : 300px;
    margin: auto;
    margin-top: 0;
    img{
        width : 250px;
        height: 300px;
    }
    .text{
        width: 250px;
    }
    .button-style{
        text-decoration: none;
        color : black;
        width: 250px;
    }
}