@import 'settings';

.movies-card{
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-around;
    margin-top: 0.5em;
    background-color: $default-background-color;
    overflow-y: auto;
    min-width: 200px;
    // max-width:  300px;
    .card {
        background-color : $card-background-color;
        margin: 4px;
        padding: 5px;
        // font-size: 20px;
        overflow: visible;
    }
    .cardcontent{
        width: 200px;
        height: 100px;
    }
    .card-actions{
        display: grid;
    }
    .button-style{
        text-decoration: none;
        color : black;
    }
}